<style>
    a {
        line-height: 1em;
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        margin: 5px;
    }

    .trow {
        transition: transform .2s;
    }

    .trow:hover {
        cursor: pointer;
        transform: scale(1.03);
        background: #e3e6e9;
        color: black;
    }

    .trowColorLetra {
        color: gray;
        font-size: calc(.5em + .5vw);
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ordenes de compra</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="list-group">
            <a *ngFor="let item of rows" (click)="editRow(item)" class="list-group-item list-group-item-action trow">
                <div class="row">
                    <div class="col-3">
                        <strong>
                            <h5 class="mb-2">OC: {{ item.IDFOLIOOC}}</h5>
                        </strong>
                    </div>
                    <div class="col-3">
                        <strong>
                            <h5 class="mb-1">TOTAL: {{item.MONEDA}} {{ item.COSTO | currency}}</h5>
                        </strong>
                    </div>
                    <div class="col-3">
                        <strong>
                            <h5 class="mb-1">EMISION: {{item.FECHAOC | date: 'dd/MM/yyyy'}}</h5>
                        </strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 trowColorLetra">
                        PROVEEDOR: {{ item.RAZONSOCIAL }} / FILIAL: {{ item.FILIALNOMBRE }} / ESTATUS: {{ item.ESTATUS
                        }} </div>
                </div>
            </a>
        </div>
    </div>
</section>