<style>
    .botonSize {
        width: 100%;
    }
</style>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">{{_TITULO}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" [formGroup]="validaCaptura" autocomplete="off">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="IDFOLIOOC" class="col-sm-2 col-form-label">FOLIO OC</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="IDFOLIOOC"
                                        [class.is-invalid]="validaCampo('IDFOLIOOC')" formControlName="IDFOLIOOC">
                                    <div *ngIf="validaCampo('IDFOLIOOC')">
                                        <small style="color: red;">{{mensajeErrorCampo('IDFOLIOOC')}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="IDPROVEEDOR" class="col-sm-2 col-form-label">PROVEEDOR</label>
                                <div class="col-sm-6">
                                    <!-- select -->
                                    <select class="form-control" id="IDPROVEEDOR"
                                        [class.is-invalid]="validaCampo('IDPROVEEDOR')" formControlName="IDPROVEEDOR">
                                        <option [value]="item.IDPROVEEDOR" *ngFor="let item of catProveedores">
                                            {{item.RAZONSOCIAL}}
                                        </option>
                                    </select>
                                    <div *ngIf="validaCampo('IDPROVEEDOR')">
                                        <small style="color: red;">{{mensajeErrorCampo('IDPROVEEDOR')}}</small>
                                    </div>
                                </div>

                                <label *ngIf="_ROL=='M'" for="IDEMPRESA" class="col-2 col-form-label">ID EMPRESA</label>
                                <div *ngIf="_ROL=='M'" class="col-2">
                                    <input type="text" class="form-control" id="IDEMPRESA"
                                        [class.is-invalid]="validaCampo('IDEMPRESA')" formControlName="IDEMPRESA">
                                    <div *ngIf="validaCampo('IDEMPRESA')">
                                        <small style="color: red;">{{mensajeErrorCampo('IDEMPRESA')}}</small>
                                    </div>
                                </div>


                            </div>
                            <div class="form-group row">
                                <label for="IDFILIAL" class="col-sm-2 col-form-label">FILIAL</label>
                                <div class="col-sm-6">
                                    <!-- select -->
                                    <select class="form-control" id="IDFILIAL"
                                        [class.is-invalid]="validaCampo('IDFILIAL')" formControlName="IDFILIAL">
                                        <option [value]="item.IDFILIAL" *ngFor="let item of catFiliales">
                                            {{item.RAZONSOCIAL}}
                                        </option>
                                    </select>
                                    <div *ngIf="validaCampo('IDFILIAL')">
                                        <small style="color: red;">{{mensajeErrorCampo('IDFILIAL')}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="FECHAOC" class="col-sm-2 col-form-label">FECHA</label>
                                <div class="input-group col-sm-3" >
                                    <input type="text" class="form-control" [class.is-invalid]="validaCampo('FECHAOC')" name="FECHAOC" id="FECHAOC"
                                        formControlName="FECHAOC" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"/>
                                    <div *ngIf="validaCampo('FECHAOC')">
                                        <small style="color: red;">{{mensajeErrorCampo('FECHAOC')}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="OBRA" class="col-sm-2 col-form-label">OBRA</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="OBRA"
                                        [class.is-invalid]="validaCampo('OBRA')" formControlName="OBRA">
                                    <div *ngIf="validaCampo('OBRA')">
                                        <small style="color: red;">{{mensajeErrorCampo('OBRA')}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="COSTO" class="col-sm-2 col-form-label">IMPORTE TOTAL</label>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control" id="COSTO"
                                        [class.is-invalid]="validaCampo('COSTO')" formControlName="COSTO">
                                    <div *ngIf="validaCampo('COSTO')">
                                        <small style="color: red;">{{mensajeErrorCampo('COSTO')}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="MONEDA" class="col-sm-2 col-form-label">MONEDA</label>
                                <div class="col-sm-2">
                                    <!-- select -->
                                    <select class="form-control" id="MONEDA" [class.is-invalid]="validaCampo('MONEDA')"
                                        formControlName="MONEDA">
                                        <option [value]="item.ID" *ngFor="let item of monedas">{{item.NOMBRE}}
                                        </option>
                                    </select>
                                    <div *ngIf="validaCampo('MONEDA')">
                                        <small style="color: red;">{{mensajeErrorCampo('MONEDA')}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="ESTATUS" class="col-sm-2 col-form-label">ESTATUS</label>
                                <div class="col-sm-2">
                                    <!-- select -->
                                    <select class="form-control" id="ESTATUS"
                                        [class.is-invalid]="validaCampo('ESTATUS')" formControlName="ESTATUS">
                                        <option [value]="item.IDTIPO" *ngFor="let item of estatus">{{item.NOMBRE}}
                                        </option>
                                    </select>
                                    <div *ngIf="validaCampo('ESTATUS')">
                                        <small style="color: red;">{{mensajeErrorCampo('ESTATUS')}}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="COMENTARIO" class="col-sm-2 col-form-label">COMENTARIO</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="COMENTARIO"
                                        [class.is-invalid]="validaCampo('COMENTARIO')" formControlName="COMENTARIO">
                                    <div *ngIf="validaCampo('COMENTARIO')">
                                        <small style="color: red;">{{mensajeErrorCampo('COMENTARIO')}}</small>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4 col-md-2">
                                    <button type="submit" (click)="goBack()"
                                        class="btn btn-default float-right botonSize">Salir</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

    <!-- <ngx-confirm-box (confirmEvt)="confirmChange($event)"></ngx-confirm-box> -->
    <ngx-confirm-box [bgColor]="bgColor" [confirmHeading]="confirmHeading" [confirmCanceltext]="confirmCanceltext"
        [confirmContent]="confirmContent" [confirmOkaytext]="confirmOkaytext" (confirmEvt)="delDatos($event)">
    </ngx-confirm-box>
</section>